{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
    </thead>
   
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock["Symbol"] }}</td>
            <td>{{ stock["Shares"] }}</td>
            <td>{{ stock["Price"] }}</td>
            <td>{{ stock["Transacted"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}